@model LabManage.Models.Transaction

@functions{
    public dynamic GetObjectValue(object o, string propertyName)
    {
        return o.GetType().GetProperty(propertyName).GetValue(o, null);
    }
}





<link rel="stylesheet" href="~/css/select-item.css">
<link rel="stylesheet" href="~/css/style.css">
@* <script defer src="~/js/todayDate.js"></script> *@
@* @foreach (var item in ViewBag.item)
{ *@
   <div class="content">
    <div class="section">
        <p>@GetObjectValue(ViewBag.item,"Name")</p>
    </div>
    <hr>
    <div class="layout">
        <div class="lab">
            <img class="lab-img" src="@GetObjectValue(ViewBag.item,"Picture")" />
            <div class="lab-text">
                <div class="lab-container">
                    <div class="lab-name" id="lab-name" value="">@GetObjectValue(ViewBag.item,"Name")</div>
                        <a asp-action="EditLab" asp-route-id="@GetObjectValue(ViewBag.item,"Id")">
                            <button class="edit-btn">Edit</button>
                        </a>
                </div>
                <br><br />
                <div class="lab-description" id="lab-description" value="">@GetObjectValue(ViewBag.item,"Description")</div>
            </div>
        </div>
        <div class="item-list">
            <div class="item-list-card">
                <div class="itemlist-top">
                    <div class="list-text">รายการอุปกรณ์</div>
                        <a asp-action="EditTool" asp-route-id="@GetObjectValue(ViewBag.item,"ToolId")">
                            <button class="edit-btn">Edit</button>
                        </a>
                </div>
                <div class="item-main">
                    <img class="item-img" src="@GetObjectValue(ViewBag.item,"ToolPicture")">
                    <div class="item-text">
                        <div class="item-name">@GetObjectValue(ViewBag.item,"ToolName")</div>
                        <div class="item-number">5/ @GetObjectValue(ViewBag.item,"Amount") left</div>
                        <div class="item-description"> @GetObjectValue(ViewBag.item,"ItemDesc")</div>
                    </div>
                </div>
                <hr style="border-color:gray">
                @* <div class="cards-list" id="card-list"></div> *@
                <br/>
                <form asp-action="CreateTransaction">
                    <p class="list-text">กรุณาเลือกเวลา</p><br/>
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="toolID" value="@GetObjectValue(ViewBag.item,"ToolId")"/>
                    <div class="form-group">
                        <label>วันที่ยืม</label>
                        <input required asp-for="start" class="form-control" id="minStart" min=""/>
                        <span asp-validation-for="start"></span>
                    </div><br/>
                    <div class="form-group">
                         <label>วันที่คืน</label>
                        <input required asp-for="end" class="form-control" id="minEnd" min="" />
                        <span asp-validation-for="end" ></span>
                    </div><br/>
                    <div class="form-group" style="    
                        display: flex ;
                        justify-content: flex-end;
                        margin-right: 20px;">
                        <input type="submit" value="Book" class="confirm-btn" onclick="window.alert("complete!!")" />
                    </div>
                </form>
               
                @* <div class="date-container">
                    <div class="start-date-container">
                        <p>วันที่ยืม:</p>
                        <input type="date" id="Start-date" />
                    </div>
                    <div class="end-date-container">
                        <p>วันที่คืน:</p>
                        <input type="date" id="end-date" />
                    </div>
                </div> *@

            </div> 
            @* <div style="    
                display: flex ;
                justify-content: flex-end;
                margin-right: 20px"
            >
                <button class="confirm-btn" asp-controller="Home" asp-action="Index">Book</button>
            </div>
             *@
        </div>

    </div>
</div> 
<script>
    function todayDate() {
        var today = new Date(); // get the current date
        var dd = today.getDate(); //get the day from today.
        var mm = today.getMonth()+1; //get the month from today +1 because january is 0!
        var yyyy = today.getFullYear(); //get the year from today

        var hh = today.getHours();
        var min = today.getMinutes();

        //if day is below 10, add a zero before (ex: 9 -> 09)
        if(dd<10) {
            dd='0'+dd
        }

        //like the day, do the same to month (3->03)
        if(mm<10) {
            mm='0'+mm
        }
        if(hh<10) {
            hh='0'+hh
        }
        if(min<10) {
            min='0'+min
        }

        //finally join yyyy mm and dd with a "-" between then
        return yyyy+'-'+mm+'-'+dd+'T'+hh+':'+min;
    }

    document.getElementById("minStart").min = todayDate();
    document.getElementById("minEnd").min = todayDate();
</script>
@* } *@

@* <!-- ----------------------- card-1 ----------------------->
                        <div class="item-card">
                        <div class="item-name">ชื่ออุปกรณ์</div>
                        <button class="book-btn">Book</button>
                        </div> *@