@model IEnumerable<LabManage.Models.Blacklist>
@{
    ViewData["Title"] = "Black List";
}

<div class="content">
    <div class="section">
        <p>Blacklist</p>
    </div>
    <hr />
        <div class="info-box">
            <div class="top-right">
                <a asp-action="Create">
                    <button  class="add-blacklist-btn">Add Blacklist</button>
                </a>

            </div>

            <div class="blacklist-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.user.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.user.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.reason)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.user.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.id"><button class="add-blacklist-btn">Remove </button></a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>



                @* <ul id="blacklist">
                    @foreach (var bl in Model)
                    {
                        <li>
                            <div class="bl-user-box" onclick=showFull(@bl)>
                                <p onclick=showFull(@bl) class="username"> @ ouoam</p>
                                <p onclick=showFull(@bl) class="OnDate">@bl.addDate</p>
                                <button class="bl-delete">X</button>
                            </div>
                        </li>
                    }
                </ul> *@

            </div>
            @* <div id="bl-popup">
                <h2 class="popup-head">Add to blacklist</h2>
                <hr style="margin: 10px;" />
                <input type="text" name="username" id="bl-add-username" value="username" class="bl-inp-username" />
                @* @using (Html.BeginForm("addBlacklist", "BlackList", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.userID, "User ID")
                        @Html.TextBoxFor(model => model.userID, new { @class = "form-control", placeholder =
                    "กรุณาใส่ User ID" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.reason, "เหตุผลของในแบน")
                        <div class='input-group date' id='dtReleaseDate'>
                            @Html.TextBoxFor(model => model.reason, new { @class = "form-control", placeholder =
                        "กรุณาใส่เหตุผล" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class=form-group>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                } *@
                @* <button onclick="hideBlPopup()" class="bl-add-cancel">Cancel</button>
                <button onclick="hideBlPopup()" class="bl-add-confirm">Confirm</button>
            </div> *@
            @* <div id="full-detail">
                <h2 class="popup-head">Blacklist user</h2>
                <hr style="margin: 10px;" />
                <p id="full-userID"></p>
                <p id="full-username"></p>
                <p id="full-addDate"></p>
                <p id="full-reason"></p>
                <p id="full-staffID"></p>
            </div> *@
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/style.css">
<style>
    .content {
        height: 80vh;
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .section {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }
    

    .d1{
        position: flex;
        width: 100%;
        height: 80vh;
        background: #FFDFC8;
        @* border-radius: 10px; *@
        @* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); *@
        @* padding : 30px; *@
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        
    }
    .d1 thead th { position: sticky; top: 0; z-index: 1; }
    .layout {
        height: 75vh;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 1080px;
        
    }
    h1{
            font-size: 28px;
    }
    table, td, th {
        padding: 8px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        }
    th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: white;
        background-color: #FF7D7D;
    }
  
    tr:nth-child(even){background-color: #fdfdfd ;}
    td{
        padding: 10px 10;

    }

    .info-box {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

    }

    .top-right {
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    .add-blacklist-btn {

        min-width: 100px;
        height: 30px; 
        font-size: 16px;
        border-radius: 5px;
        background-color: #FB9B9B;
        border: none;
        color: #fdfdfd;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        padding: 5px;

    }

    .sort-box {
        display: flex;
        flex-direction: row;
        margin: 0 50px;

    }

    .sort-box p {
        /* position: absolute;
    margin-top: 15px;
    right: 15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal; */
        margin: 0 20px;
        font-size: 18px;
    }

    .sort-by-select {
        /* position: absolute;
    margin-top: 13px;
    right: 5%;
    width: 115px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal; */
        font-size: 18px;
    }

    /* .line-head {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 45px;
    width: 90%;
    border: 1px solid #292929;
  } */

    .blacklist-container {

        width: 100%;
        height: 100%;
        margin: auto;
        overflow: auto;
        background: #ffdfc8;

    }

    #blacklist {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
    }

    #blacklist li {
        /*display:inline-block;*/
        margin: 3px;
        flex: 0 1 calc(20% - 6px);
        /*red*/
    }

    .bl-user-box {
        position: relative;
        background-color: rgb(172, 172, 172);
        margin-left: 1%;
        border-radius: 10px;

    }

    .username {
        position: relative;
        /* font-family: Roboto;
    font-style: normal;
    font-weight: normal; */
        font-size: 18px;
        margin-left: 10%;
        padding: 3% 0;
    }

    .OnDate {
        /* visibility:hidden;*/
        position: relative;
        font-size: 10px;
        /*margin-right: 10%; */
        padding: 0 40%;
        width: 100%;
    }

    .bl-delete {
        position: absolute;
        right: 5%;
        top: 15%;
        width: 10%;
        border-radius: 50%;
        background-color: rgb(253, 100, 100);
        color: #fbfbfb;
        outline: none;
        user-select: none;
    }

    #bl-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* margin-top: -360px;
    margin-left: -640px; */
        width: 480px;
        height: 270px;
        background-color: rgb(204, 204, 204);
        visibility: hidden;
        border-radius: 10px;

    }

    .popup-head {
        font-size: 24px;
        margin: 10px;

    }

    .bl-inp-username {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }

    .bl-add-confirm {
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 20%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        background-color: rgb(51, 133, 55);
        color: #fbfbfb;
    }

    .bl-add-cancel {
        position: absolute;
        bottom: 5%;
        right: 30%;
        width: 20%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        background-color: rgb(148, 74, 74);
        color: #fbfbfb;
    }

    #full-detail {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        height: 270px;
        background-color: rgb(204, 204, 204);
        visibility: hidden;
        border-radius: 10px;
        background-color: #f5af5f;
    }
