@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using LabManage.Models
@inject SignInManager<Users> SignInManager
@model IEnumerable<LabManage.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/style.css">
<style>
    .content {
        height: 80vh;
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .section {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }

    .d1 {
        position: flex;
        width: 100%;
        height: 80vh;
        background: #FFDFC8;
    @*border-radius:10px;*@@*box-shadow:0px4px4pxrgb(000/25%);*@@*padding:30px;*@display: flex;
        flex-direction: column;
        overflow-y: scroll;

    }

    .d1 thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .layout {
        height: 75vh;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 1080px;


    }

    h1 {
        font-size: 28px;
    }

    table,
    td,
    th {
        padding: 8px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: white;
        background-color: #FF7D7D;
    }

    tr:nth-child(even) {
        background-color: #fdfdfd;
    }

    td {
        padding: 10px 10;

    }

    tbody {}

    .btn {
        width: 100px;
        height: 50px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #FB9B9B;
        border: none;
        color: #fdfdfd;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        padding: 5px;

    }
</style>
<div class="content">
    <div class="section">
        <p>Transcation</p>
    </div>
    <hr />
    <div class="layout">
        <div class="d1">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.user)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.tool)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.user.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tool.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @if (item.status == LabManage.Models.Status.Book &&
                                (( item.userID == User.FindFirst(ClaimTypes.NameIdentifier).Value) ||
                                (await AuthorizationService.AuthorizeAsync(User, "ManageLab")).Succeeded))
                                {
                                    <a class="btn" asp-action="Cancel" asp-route-id="@item.id">ยกเลิกการจอง</a>
                                }

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>